@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 100;
    src: url(/statics/SourceHanSansK-ExtraLight.woff) format('woff');
}
@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 200;
    src: url(/statics/SourceHanSansK-Light.woff) format('woff');
}
@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 300;
    src: url(/statics/SourceHanSansK-Normal.woff) format('woff');
}
@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 400;
    src: url(/statics/SourceHanSansK-Regular.woff) format('woff');
}
@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 500;
    src: url(/statics/SourceHanSansK-Medium.woff) format('woff');
}
@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 700;
    src: url(/statics/SourceHanSansK-Bold.woff) format('woff');
}
@font-face {
    font-family: 'source-han-sans-korean';
    font-weight: 900;
    src: url(/statics/SourceHanSansK-Heavy.woff) format('woff');
}

body {
    font-family: 'source-han-sans-korean', sans-serif;
}

:focus {
    outline: none
}