#container {
  float: none;
  *zoom: 1;
  min-height: 100%;

  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}

.section {
  float: none;
  margin-left: 180px;
  *zoom: 1;

  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}

.contents {
  position: relative;
  float: left;
  width: 750px;
  border-left: 1px solid #aeaeae;
  border-right: 1px solid #eaeaea;
  min-height: 768px;
  *z-index: 10;

  &:after {
    display: block;
    clear: both;
    content: " ";
  }
}

.aside {
  float: right;
  width: 260px;
  padding: 16px 0 0 0;
  margin-right: 18px;
  position: relative;
}
