.left_col {
  #category_menu {
    height: 40px;
    background: #3769ac;
    color: #fff;
    vertical-align: middle;
    position: relative;

    .category_button {
      padding: 10px 25px 10px 30px;
      font-size: 18px;

      .fa.fa-caret-right {
        float: right;
      }
      .category_text {
        display: inline;
        padding-left: 75px;
      }
    }
  }

  .category_box {
    display: none;
    position: absolute;
    left: 251px;
    top: 0px;
    width: 728px;
    z-index: 1;
    background: #fff;
    min-height: 320px;
    border: 1px solid #3769AC;

    .gnb_menu {
      width: 150px;
      border-right: 1px solid #bac;
      height: 318px;
      float: left;

      .gnbm {
        &>a {
          padding: 10px;
          display: block;
          border-bottom: 1px solid #ccc;
        }

        .gnb_inner_wrap {
          position: absolute;
          left: 150px;
          top: 0;

          .gnb_inner>.grouping {
            float: left;
            border-right: 1px solid #aaa;
            height: 318px;
            width: 150px;

            h3 {
              color: #fff;
              background: #3769AC;
              margin: 8px 11px 0;
              font-size: 12px;
              font-weight: normal;
              padding-left: 8px;
            }

            ul.category_lists {
              margin: 11px;

              &>li {
                padding-left: 8px;
              }

              a {
                font-size: 11px;
                color: #27485E;
              }
            }
          }
          .gnb_inner>.banner {
            float: left;
            width: 276px;

            img {
              width: 276px;
              height: 318px;
            }
          }
        }
      }
    }
  }

  #sub_category {
    height: 40px;
    color: #3769ac;
    vertical-align: middle;
    position: relative;

    .sub_category_button {
      padding: 12px 25px;
      font-size: 16px;

      .sub_category_text {
        position: absolute;right: 25px;
      }
    }
  }
  menu.sub_category_list {
    background: #3769AC;
    color: #fff;
    margin: 0;
    position: relative;
    padding: 20px 25px;
    font-size: 13px;

    .sub_category_header {
      right: 25px;
      position: absolute;
    }

    ul {
      margin-top: 25px;
      border-top: 1px solid #fff;

      li:first-child {
        padding-top: 18px;
      }
      li {
        padding-top: 8px;
        &>h5 {
          text-align: left;
          margin-bottom: 2px;

          a {
            color: #fff;
            display: block;
          }
        }
        &>.sub_category.item {
          margin-bottom: 2px;
          text-align: right;

          a {
            color: #fff;
            width: 100%;
            display: block;
          }
        }
      }
      li:last-child {
        padding-bottom: 25px;
      }
    }
  }
}