.left_col {
  #category_menu {
    height: 40px;
    background: #3769ac;
    color: #fff;
    vertical-align: middle;

    .category_button {
      padding: 10px 25px 10px 30px;
      font-size: 18px;

      .fa.fa-caret-right {
        float: right;
      }
      .category_text {
        display: inline;
        padding-left: 75px;
      }
    }
  }
  #sub_category {
    height: 40px;
    color: #3769ac;
    vertical-align: middle;
    position: relative;

    .sub_category_button {
      padding: 12px 25px;
      font-size: 16px;

      .sub_category_text {
        position: absolute;right: 25px;
      }
    }
  }
  menu.sub_category_list {
    height: 240px;
    background: #3769AC;
    color: #fff;
    margin: 0;
    position: relative;
    padding: 20px 25px;
    font-size: 13px;

    .sub_category_header {
      right: 25px;
      position: absolute;
    }

    ul {
      margin-top: 25px;
      border-top: 1px solid #fff;

      li:first-child {
        padding-top: 18px;
      }
      li {
        padding-top: 8px;
        .sub_category.item {

          text-align: right;

          a {
            color: #fff;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}