#post_view {
  .ui.items {
    padding-right: 35px;
  }

  > #club_section {
    padding: 0;
  }

  .ui.description {
    font-size: 1.2em;
  }

  #comment_section {
    margin-top: 1em;

    .comment_textarea {
      min-height: 2em;
      height: initial;
      max-height: 10em;
    }
  }


}